@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');

:root {
    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Configuração do cabeçalho */

.info-desconto {
    font-family: var(--font);
    font-size: 10pt;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 3rem;
}

.div-titulo-pagina {
    font-family: var(--font);
    font-size: 16pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.div-titulo-pagina > a {
    color: black;
}

.container-imagem-cabecalho {
    position: relative;
    background-image: url('/imagens/wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 180px;
    filter: brightness(65%);
    box-shadow: inset 0px -2px 12px rgba(0, 0, 0, 0.418);
}

#container-txt-imagem {
    font-family: var(--font);
    position: absolute;
    top: 16rem;
    padding-left: 6.5%;
    color: white;   
}

#container-txt-imagem > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

#container-txt-imagem > p {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 1rem;
    line-height: 2em;
}

/* Configuração do corpo */

main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(243, 243, 243, 0.562);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.233);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > p {
    font-family: var(--font);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    padding: 3px;
    margin: 0 auto;
}

.foto-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.fotos {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 34rem;
    margin-right: 1%;
}

.fotos > img {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.fotos > img:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.233);
    border: 1px solid black;
}

.formulario {
    width: 80%;
}

.detalhe-produto {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    min-width: 25%;
    min-height: 34rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.233);
}

.produto > img {
    width: 100%;
}

.descricao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;
    flex-direction: column;
    width: 25rem;
    min-height: 34rem;
    margin-top: 0;
}

.descricao > p {
    line-height: 2%;
    width: 18rem;
}

.descricao-produto {
    width: auto;
    min-width: 25rem;
    margin: auto;
    line-height: 2rem;

}

.nome-produto {
    font-family: var(--font);
    font-weight: bolder;
    font-size: 20pt;
}

.valor {
    font-family: var(--font);
    font-weight: bolder;
    font-size: 20pt;
    color: black;
}

#seletor-de-cor {
    width: 18rem;
    height: 3rem;
    border-style: none;
    border-radius: 10px;
}

#seletor-de-tamanho {
    width: 18rem;
    height: 3rem;
    border-style: none;
    border-radius: 10px;
}

#btn-comprar {
    font-family: var(--font);
    font-size: 14pt;
    font-weight: bold;
    background-color: black;
    color: white;
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    border-style: none;
}

#btn-comprar:hover {
    background-color: rgba(0, 0, 0, 0.801);
}

#btn-carrinho {
    font-family: var(--font);
    font-size: 14pt;
    font-weight: bold;
    background-color: rgb(51, 49, 49);
    color: white;
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    border-style: none;
}

#btn-carrinho:hover {
    background-color: rgba(51, 49, 49, 0.884);
}

/* rodapé */

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}

/* Media Query */

@media (max-width: 980px) {
    .detalhe-produto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .produto {
        max-width: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .foto-produto {
        width: 100%;
    }

    .descricao {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .foto-produto {
        display: flex;
        flex-direction: column-reverse;
        max-height: 80rem;
    }

    .fotos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: auto;
        justify-content: center;
        column-gap: 1%;
        width: 50%;
        max-height: 20rem;
    }

    .fotos > img {
        height: 10%;
    }

    .descricao {
        max-height: 3rem;
    }
}